.env
data/raw/
data/processed/
indexes/
models/
__pycache__/
*.pyc
*.pyo
venv/
myenv/
.venv/
*.log
.DS_Store
Thumbs.db
*.pkl
.ipynb_checkpoints/
data/exports/
notebooks/
tests/
*.faiss
tree_output.txt
files.txt
